# Bot logs
*.log

# Pycache
__pycache__/

# Temporary imgs.
/data/img/imgswap.png

# .env in the event they are left in the file tree for testing
.env

# Virtual env.
/venv

# vscode config
.vscode/*

# Temporary database files and database
*.db-shm
*.db-wal
*.db

