tensorflow==2.5.0
pyfiglet==0.8.post1
async_timeout==3.0.1
discord.py==1.7.2
aiohttp==3.7.4.post0
Quart==0.14.1
pythonping==1.0.16
humanize==3.5.0
psutil==5.8.0
wavelink==0.9.9
APScheduler==3.7.0
termcolor==1.1.0
numpy==1.19.2
discord==1.0.1
Pillow==8.2.0
python-dotenv==0.17.1
scikit_learn==0.24.2
