termcolor==1.1.0
better_profanity==0.7.0
async_timeout==3.0.1
discord.py==1.7.0
pyfiglet==0.8.post1
aiohttp==3.7.4.post0
APScheduler==3.7.0
humanize==3.3.0
lavalink==3.1.4
pythonping==1.0.16
psutil==5.8.0
wavelink==0.9.9
discord==1.0.1
Pillow==8.2.0
python-dotenv==0.17.0
